**
!dist/
!dist/**
!platform/
!platform/requirements.txt
!platform/primoscore_core/
!platform/primoscore_core/**
!platform/primoscore_server/
!platform/primoscore_server/**
!deploy/
!deploy/render/
!deploy/render/requirements.txt
!deploy/render/runtime.py
**/__pycache__/
**/*.pyc
**/preview.*
